@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins',
        sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-more button {
    background: 0;
    border: 0;
    font-size: 26px;
    color: #fff;
}

.header-logo {
    font-size: 21px;
    color: #fff;
}

.footer-menu {
    background: #ededed;
    height: 70px;
    line-height: 70px;
    border-radius: 15px 15px 0 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.swiper-button-prev::after {
    color: #696969;
    font-size: 17px !important;
    margin-left: -36px;
}

.swiper-button-next::after {
    color: #696969;
    font-size: 17px !important;
    margin-right: -25px;
}

.swiper-slide.swiper-slide-active {
    text-align: center;
    position: relative;
}

.swiper-slide.swiper-slide-active:after {
    position: absolute;
    background: #615858;
    width: 40px;
    height: 3px;
    content: '';
    bottom: 6px;
    left: 13px;
    border-radius: 5px;
}

.menu-item {
    text-align: center;
}




/* styles.css */
/* body {
    margin: 0;
    padding: 0;
    overflow: hidden;
} */

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    /* To place the video behind other content */
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.video-area-contet {
    position: absolute;
    z-index: 999;
    left: 0;
    bottom: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-image: linear-gradient(rgba(50, 23, 13, 0), rgb(0, 0, 0));
    padding-bottom: 30px;
    padding-top: 30px;
}

.text-white {
    color: #fff !important;
}

.video-area-contet h4 {
    font-size: 17px;
    margin-left: 3px;
    margin-bottom: 0;
    font-weight: 700;
}

.view-more {
    color: #0074d9;
    cursor: pointer;
    background: none;
    border: 0;
}

.hidden {
    display: none;
    text-align: left;
}

.close-button {
    color: #0074d9;
    cursor: pointer;
    background: none;
    border: 0;
    cursor: pointer;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.d-flex-wrap {
    flex-wrap: wrap;
}

.video-area-right-btn button {
    background: none;
    color: #fff;
    border: 0;
    font-size: 26px;
    padding: 0;
    margin-top: 10px;
    display: block;
}

.video-area-right-btn {
    text-align: right;
}

.view-more-content h6 {
    font-size: 14px;
}

.view-more-content span {
    font-size: 12px;
}

.home-main-description {
    font-size: 14px;
    font-weight: 700;
    margin-top: 3px;
}

.home-main-description span {
    font-weight: 400;
}

.view-more-content h6 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 3px;
}

.view-more-content span {
    font-weight: 500;
}

.alergenos h6 {
    font-weight: 400 !important;
    margin-bottom: 15px;
}