@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins',
        sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

.app-layout .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-layout .header-more button {
    background: 0;
    border: 0;
    font-size: 26px;
    color: #fff;
}

.app-layout .header-logo {
    font-size: 21px;
    color: #fff;
}





/* styles.app-layout .css */
/* body {
    margin: 0;
    padding: 0;
    overflow: hidden;
} */

.app-layout .video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    /* To place the video behind other content */
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.app-layout .video-area-contet {
    position: absolute;
    z-index: 999;
    left: 0;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-image: linear-gradient(rgba(50, 23, 13, 0), rgb(0, 0, 0));
    padding-bottom: 50px;
    padding-top: 30px;
}

.app-layout .text-white {
    color: #fff !important;
}

.app-layout .video-area-contet h4 {
    font-size: 17px;
    margin-left: 3px;
    margin-bottom: 0;
    font-weight: 700;
}

.app-layout .view-more {
    color: #0074d9;
    cursor: pointer;
    background: none;
    border: 0;
}

.app-layout .hidden {
    display: none;
    text-align: left;
}

.app-layout .close-button {
    color: #0074d9;
    cursor: pointer;
    background: none;
    border: 0;
    cursor: pointer;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* .app-layout .d-flex-wrap {
    flex-wrap: wrap;
} */
.app-layout .d-grid-wrap {
    /* flex-wrap: wrap; */
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
}

.app-layout .video-area-right-btn button {
    background: none;
    color: #fff;
    border: 0;
    font-size: 26px;
    padding: 0;
    margin-top: 10px;
    display: block;
}

.app-layout .video-area-right-btn {
    text-align: right;
}

.app-layout .view-more-content h6 {
    font-size: 14px;
}

.app-layout .view-more-content span {
    font-size: 12px;
}

.app-layout .home-main-description {
    font-size: 14px;
    font-weight: 700;
    margin-top: 3px;
}

.app-layout .home-main-description span {
    font-weight: 400;
}

.app-layout .view-more-content h6 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 3px;
}

.app-layout .view-more-content span {
    font-weight: 500;
}

.app-layout .alergenos h6 {
    font-weight: 400 !important;
    margin-bottom: 15px;
}



/* Footer menu  */
.app-layout .footer-menu {
    background: #ededed;
    height: 70px;
    line-height: 70px;
    border-radius: 15px 15px 0 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.app-layout .swiper-button-prev::after {
    color: #696969;
    font-size: 17px !important;
    margin-left: -36px;
}

.app-layout .swiper-button-next::after {
    color: #696969;
    font-size: 17px !important;
    margin-right: -25px;
}

.app-layout .swiper-slide.app-layout .swiper-slide-active {
    text-align: center;
    position: relative;
}

.app-layout .swiper-slide.app-layout .swiper-slide-active:after {
    position: absolute;
    background: #615858;
    width: 40px;
    height: 3px;
    content: '';
    bottom: 6px;
    left: 13px;
    border-radius: 5px;
}

.app-layout .menu-item {
    text-align: center;
}



/* list item view */
.app-layout {
    min-height: 100vh;
}

.list-single-item {
    border-radius: 15px;
}

.list-item-photo {
    width: 300px;
    height: 150px;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.list-single-item {
    display: flex;
}

.list-item-content {
    width: 100%;
    margin-left: 10px;
}

.list-item-content h4 {
    font-size: 14px;
    font-weight: 700;
}

.price {
    font-size: 13px;
    font-weight: 500;
    margin-top: -5px;
    display: block;
}

.list-item-content p {
    font-size: 12px;
}

.list-item-btn {
    margin-top: 33px;
    text-align: right;
}

.list-item-btn button {
    border: 0;
    background: 0;
    color: #fff;
    font-size: 24px;
}

.list-item-photo video {
    border-radius: 15px;
}

.list-item-title h3 {
    text-align: center;
    font-size: 17px;
    border-bottom: 2px solid rgb(0, 169, 157);
    padding-bottom: 7px;
    margin-bottom: 20px;
    text-transform: uppercase;
}